@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* border: 1px solid rgb(20, 8, 88); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom styling for react-calendar */
.react-calendar {
    background-color: #fff !important;
    border: none !important; /* Remove default border */
    border-radius: 0.5rem !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  }
  
  .react-calendar__tile {
    padding: 0.5rem !important;
    text-align: center !important;
    transition: background-color 0.2s, transform 0.2s; /* Add transform to the transition for scaling */
    border-radius: 50%; /* Ensure it's circular */
  }
  
  .react-calendar__tile:hover {
    background-color: #6d5dcb !important; /* Tailwind CSS class bg-red-600 */
    color: white !important; /* Ensure text color is readable */
    transform: scale(1.1); /* Scale up slightly on hover */
  }
  
  .react-calendar__tile--active {
    background-color: #200456 !important; /* Tailwind CSS class bg-blue-600 */
    color: white !important;
  }

  .react-calendar__tile--now {
    background-color: #8086be !important; /* Blue color for the current date */
    color: white !important;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginRight: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    borderRadius: 10px;
    outline: none;
    maxWidth: 500px;
    width: 60%;
    maxHeight: 80vh;
    overflowY: auto;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backgroundColor: rgba(0, 0, 0, 0.75);
    zIndex: 1000;
}

.close-button {
    background: rgb(2, 2, 78);
    color: white;
    padding: 10px;
    borderRadius: 5px;
    cursor: pointer;
    float: right;
}

.hide-default-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-default-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Global CSS (e.g., src/index.css or src/styles.css) */

/* For Webkit-based browsers like Chrome, Safari */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #0e0441; /* customOrange-300 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #0e0441; /* Optionally add a border using customOrange-100 */
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #0e0441; /* customOrange-300 */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #0e0441;
}

/* For IE/Edge */
input[type="range"]::-ms-thumb {
  width: 16px;
  height: 16px;
  background-color: #0e0441;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #0e0441;
}

